<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyf.spike.mapper.SkOrderMapper">
  <resultMap id="BaseResultMap" type="com.cyf.spike.entity.SkOrder">
    <!--@mbg.generated generated on Tue Aug 25 16:16:51 CST 2020.-->
    <!--@Table sk_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Aug 25 16:16:51 CST 2020.-->
    id, user_id, order_id, goods_id
  </sql>
</mapper>